<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Contenido Nuevo</h1>
    <button class="button button-clear button-primary" ng-click="contenidoVm.closeContenidoModal()">Cancelar</button>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <form name="contenidoForm">
        <label class="item item-input item-floating-label">
          <span class="input-label">Titulo</span>
          <input type="text" ng-model="contenidoVm.form.name" placeholder="Ingrese titulo" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Contenido</span>
          <textarea ng-model="contenidoVm.form.content" placeholder="Ingrese contenido" required></textarea>
        </label>

        <div class="padding">
          <button class="button button-block button-positive activated" ng-click="contenidoVm.newContent()" ng-disabled="contenidoForm.$invalid">Crear contenido</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-modal-view>
