<ion-view title="Cursos">
  <ion-content class="has-header">
    <ion-list>

      <div class="list card" ng-repeat="curso in cursosVm.cursos">

        <div class="item item-body">
          <img class="full-image" ng-src="{{ curso.img }}">
          <p>
            {{ curso.name }}
          </p>
          <p>
            <a ng-if="!$root.userLogged.isAdmin"  ui-sref="tab.contenido({curso: curso})" class="subdued">Subscribirse</a>
            <a ui-sref="tab.contenido({curso: curso})" class="subdued">Visitar</a>
          </p>
        </div>

      </div>

    </ion-list>
  </ion-content>

</ion-view>
