<ion-view title="Login" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="login-form4" class="list" name="loginForm" >
      <ion-list id="login-list3">
        <label class="item item-input item-floating-label" id="login-input5">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email" ng-model="loginVm.form.email" required>
        </label>
        <label class="item item-input item-floating-label" id="login-input6">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="Contraseña" ng-model="loginVm.form.password" required>
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button10" class="button button button-positive button-block" ng-click="loginVm.login()" ng-disabled="loginForm.$invalid">Ingresar</button>
      <!-- <a href="/signup" href-inappbrowser="_system" id="login-button11" class="button button-positive  button-block button-clear">Or create an account</a> -->
    </form>
  </ion-content>
</ion-view>
