<ion-view view-title="{{perfilesVm.form.name}}">
  <ion-content class="has-header">
    <div class="list">
      <form name="perfilForm">
        <label class="item item-input item-floating-label">
          <span class="input-label">Nombre perfil</span>
          <input type="text" ng-model="perfilesVm.form.nombre" placeholder="Nombre perfil" required>
        </label>
        <div class="padding">
          <button class="button button-block button-positive activated" ng-click="perfilesVm.updatePerfil()" ng-disabled="perfilForm.$invalid">Guardar perfil</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
