<ion-view view-title="{{productosVm.form.name}}">
  <ion-content class="has-header">
    <!-- <img ng-src="{{productosVm.form.img}}" style="width: 64px; height: 64px"> -->
    <div class="list">
      <form name="productForm">
        <label class="item item-input item-floating-label">
          <span class="input-label">Nombre producto</span>
          <input type="text" ng-model="productosVm.form.nombre" placeholder="Nombre producto" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Precio</span>
          <input type="number" ng-model="productosVm.form.precio" placeholder="Precio" required>
        </label>
        <!-- <label class="item item-input item-floating-label">
        <span class="input-label">Imagen</span>
        <input type="file" placeholder="Imagen">
      </label> -->

        <div class="list card">

          <div class="item item-image">
            <img ng-src="{{productosVm.form.img}}">
          </div>
        </div>

        <div class="padding">
          <button class="button button-block button-positive activated" ng-click="productosVm.updateProducto()" ng-disabled="productForm.$invalid">Guardar producto</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
