<ion-view view-title="Punto de entrega nuevo">
  <ion-content class="has-header">
    <div class="list">
      <form name="puntoEntregaForm">
        <label class="item item-input item-floating-label">
          <span class="input-label">Nombre punto de entrega</span>
          <input type="text" ng-model="puntosEntegaVm.form.nombre" placeholder="Nombre punto de entrega" required>
        </label>
      <div class="padding">
        <button class="button button-block button-positive activated" ng-click="puntosEntegaVm.newPuntoEntrega()" ng-disabled="puntoEntregaForm.$invalid">Guardar punto de entrega</button>
      </div>
    </form>
    </div>
  </ion-content>
</ion-view>
