<ion-view view-title="Usuarios">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="usuario in usuariosVm.usuarios" type="item-text-wrap" ng-click="usuariosVm.openUpdateUsuario(usuario)">
        <img ng-src="{{usuario.img}}">
        <h2>{{usuario.id}}</h2>
        <h2>{{usuario.nombre}}</h2>
        <h2>{{usuario.apellidos}}</h2>
        <p>{{(usuario.isDisabled == true ? 'Inactivo' : '' )}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button ng-class="{'button-assertive': !usuario.isDisabled , 'button-positive' : usuario.isDisabled }" ng-click="usuariosVm.disableUsuario(usuario.id)">
          Activar/Desactivar
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-floating-button click="usuariosVm.createUsuario()" has-footer="true" button-color="#2196F3" icon="ion-plus" icon-color="#fff">

</ion-view>
