<ion-view view-title="Tareas">
  <ion-content class="padding">


    <ion-list>

      <div class="list card" ng-repeat="tarea in tareasVm.tareas">

        <div class="item item-body">
          <h3>
            {{ tarea.name }}
          </h3>
          <p>
            {{ tarea.description }}
          </p>
        </div>

      </div>

    </ion-list>

  </ion-content>
</ion-view>
