<ion-view view-title="Eventos">
  <ion-content class="padding">

    <ion-list>

      <div class="list card" ng-repeat="evento in eventosVm.eventos">

        <div class="item item-body">
          <h3>
            {{ evento.name }}
          </h3>
          <p>
            {{ evento.dateStart | date }}
          </p>
        </div>

      </div>

    </ion-list>

  </ion-content>
</ion-view>
