<ion-view view-title="Contenido">
  <ion-content class="padding">

    <ion-list>

      <div class="list card" ng-repeat="contenido in contenidoVm.contenidos">

        <div class="item item-body">
          <!-- <img class="full-image" ng-src="{{ contenido.img }}"> -->
          <h3>
            {{ contenido.name }}
          </h3>
          <p>
            {{ contenido.content }}
          </p>
        </div>

      </div>

    </ion-list>
  </ion-content>
  <ion-floating-button ng-if="$root.userLogged.isAdmin" ng-click="contenidoVm.openContenidoModal()" has-footer="true" button-color="#2196F3" icon="ion-plus" icon-color="#fff">
</ion-view>

<!-- <div ng-include="" ></div> -->
