<ion-view view-title="Mesas">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="mesa in mesasVm.mesas" type="item-text-wrap" ui-sref="tab.mesa-detalles({idMesa: mesa.id})">
        <img src="./images/example-images/cafe.svg">        
        <h2>{{mesa.nombre}}</h2>
        <p>{{(mesa.isDisabled == true ? 'Inactivo' : '' )}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button ng-class="{'button-assertive': !mesa.isDisabled , 'button-positive' : mesa.isDisabled }" ng-click="mesasVm.disableMesa(mesa.id)">
          Activar/Desactivar
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-floating-button click="mesasVm.createMesa()" has-footer="true" button-color="#2196F3" icon="ion-plus" icon-color="#fff">

</ion-view>
