<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->


  <!-- Chats Tab -->
  <!-- <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab> -->

  <!-- tab productos -->
  <!-- <ion-tab title="Foro" icon-off="ion-ios-browsers" icon-on="ion-ios-browsers" href="#/tab/foro">
    <ion-nav-view name="tab-foro"></ion-nav-view>
  </ion-tab> -->

  <ion-tab title="Participantes" icon-off="ion-android-person" icon-on="ion-android-person" href="#/tab/usuarios">
    <ion-nav-view name="tab-usuarios"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Contenido" icon-off="ion-ios-bookmarks" icon-on="ion-ios-bookmarks" href="#/tab/contenido">
    <ion-nav-view name="tab-contenido"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Eventos" icon-off="ion-calendar" icon-on="ion-calendar" href="#/tab/eventos">
    <ion-nav-view name="tab-eventos"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Tareas" icon-off="ion-cube" icon-on="ion-cube" href="#/tab/tareas">
    <ion-nav-view name="tab-tareas"></ion-nav-view>
  </ion-tab>

  <!-- tab configuraciones -->
  <ion-tab title="Configuraciones" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/config">
    <ion-nav-view name="tab-config"></ion-nav-view>
  </ion-tab>


</ion-tabs>
